<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723549000023-ifsje7ggmr38210jb28dkqvn3m3lbga8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723549000023-ifsje7ggmr38210jb28dkqvn3m3lbga8</string>
	<key>API_KEY</key>
	<string>AIzaSyBz9topsLlrO5T-8EcG1kK16NCqNufpiAY</string>
	<key>GCM_SENDER_ID</key>
	<string>723549000023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.velmash.MyPilates</string>
	<key>PROJECT_ID</key>
	<string>mypilates-e035b</string>
	<key>STORAGE_BUCKET</key>
	<string>mypilates-e035b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723549000023:ios:75800a0f734c4cda016e12</string>
</dict>
</plist>